<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">


    <context:component-scan base-package="com" >
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!--配置数据源-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <bean id="comboPooledDataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${jusername}"/>
        <property name="password" value="${jpassword}"/>
        <property name="maxActive" value="${maxPoolSize}"/>
        <property name="minIdle" value="${minPoolSize}"/>
    </bean>


    <!-- 配置使用mybatis操作数据库-->


    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="dataSource" ref="comboPooledDataSource"/>
        <property name="mapperLocations" value="classpath:com/dao/*.xml"/>
    </bean>
    <!--把每个DAO接口实现类加入到IOC容器-->

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="mapperScannerConfigurer">
        <property name="basePackage" value="com.dao"/>
    </bean>

    <!--配置事务管理器-->
    <bean  class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="dataSourceTransactionManager">
        <constructor-arg name="dataSource"  ref="comboPooledDataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>





    <!-- =========================================================
       Shiro Core Components - Not Spring Specific
       =========================================================
   Shiro's main business-tier object for web-enabled applications
       (use DefaultSecurityManager instead when there is no web environment)
  1. 配置 SecurityManager!-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="cacheManager"/>
        <property name="authenticator" ref="authenticator"></property>
        <property name="sessionManager" ref="sessionManager"/>
        <property name="rememberMeManager" ref="rememberMeManager"/>
        <property name="realms">
            <list>
                <!--<ref bean="jdbcRealm"/>
                <ref bean="secondRealm"/>-->
                <ref bean="threeRealm"/>
            </list>
        </property><!--配置授权需要用到securitymanager的realms属性,以后配置realms时候从这里配-->

        <!--  <property name="rememberMeManager.cookie.maxAge" value="10"></property>-->
    </bean>

    <!-- Let's use some enterprise caching support for better performance.  You can replace this with any enterprise
         caching framework implementation that you like (Terracotta+Ehcache, Coherence, GigaSpaces, etc
    2. 配置 CacheManager.
    2.1 需要加入 ehcache 的 jar 包及配置文件.-->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <!-- Set a net.sf.ehcache.CacheManager instance here if you already have one.  If not, a new one
             will be creaed with a default config:
             <property name="cacheManager" ref="ehCacheManager"/>
         If you don't have a pre-built net.sf.ehcache.CacheManager instance to inject, but you want
             a specific Ehcache configuration to be used, specify that here.  If you don't, a default
             will be used.:-->
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
    </bean>


    <!--这是下面两个Realm的认证器-->
    <bean id="authenticator"
          class="org.apache.shiro.authc.pam.ModularRealmAuthenticator">
        <!-- <property name="authenticationStrategy">
             <bean class="org.apache.shiro.authc.pam.AtLeastOneSuccessfulStrategy"></bean>
         </property>-->
        <!-- <property name="realms">
             <list>
                 <ref bean="jdbcRealm"/>
                 <ref bean="secondRealm"/>
             </list>
         </property>--><!--  已经转移到SecurityManager里配置  -->
        <property name="authenticationStrategy">
            <bean class="org.apache.shiro.authc.pam.AtLeastOneSuccessfulStrategy"></bean>
        </property>
    </bean>
    <!--
         Used by the SecurityManager to access security data (users, roles, etc).
             Many other realm implementations can be used too (PropertiesRealm,
             LdapRealm, etc.
            3. 配置 Realm
            3.1 直接配置实现了 org.apache.shiro.realm.Realm 接口的 bean-->
    <!--<bean id="jdbcRealm" class="ssm.shiro.ShiroRealm">
        &lt;!&ndash;<property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <property name="hashAlgorithmName" value="MD5"></property>
                <property name="hashIterations" value="1024"></property>
            </bean>
        </property>&ndash;&gt;
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <property name="hashAlgorithmName" value="MD5"></property>
                <property name="hashIterations" value="1024"></property>
            </bean>
        </property>
    </bean>-->

    <!-- <bean id="secondRealm" class="ssm.shiro.ShiroRealm2">
         <property name="credentialsMatcher">
             <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                 <property name="hashAlgorithmName" value="SHA1"></property>
                 <property name="hashIterations" value="1024"></property>
             </bean>
         </property>
     </bean>-->

    <bean id="threeRealm" class="com.shiro.ShiroRealmForDateBase">
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <property name="hashAlgorithmName" value="MD5"/>
                <property name="hashIterations" value="100"/>
            </bean>
        </property>
    </bean>

    <!-- =========================================================
         Shiro Spring-specific integration
         =========================================================
     Post processor that automatically invokes init() and destroy() methods
         for Spring-configured Shiro objects so you don't have to
         1) specify an init-method and destroy-method attributes for every bean
            definition and
         2) even know which Shiro objects require these methods to be
            called.
    4. 配置 LifecycleBeanPostProcessor. 可以自定的来调用配置在 Spring IOC 容器中 shiro bean 的生命周期方法.-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
    <!--
         Enable Shiro Annotations for Spring-configured beans.  Only run after
             the lifecycleBeanProcessor has run:
        5. 启用 IOC 容器中使用 shiro 的注解. 但必须在配置了 LifecycleBeanPostProcessor 之后才可以使用.-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor" >
        <property name="securityManager" ref="securityManager"/>
    </bean>

    <!--  Define the Shiro Filter here (as a FactoryBean) instead of directly in web.xml -
          web.xml uses the DelegatingFilterProxy to access this bean.  This allows us
          to wire things with more control as well utilize nice Spring things such as
          PropertiesPlaceholderConfigurer and abstract beans or anything else we might need:
     6. 配置 ShiroFilter.
     6.1 id 必须和 web.xml 文件中配置的 DelegatingFilterProxy 的 <filter-name> 一致.
                       若不一致, 则会抛出: NoSuchBeanDefinitionException. 因为 Shiro 会来 IOC 容器中查找和 <filter-name> 名字对应的 filter bean.-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/pages/success.jsp"/>
        <property name="unauthorizedUrl" value="/pages/unauthorized.jsp"/>
        <property name="filters">
            <map>
                <entry key="authc" value-ref="myformAuthentfiler"/>
                <entry key="logout" value-ref="myLogoutFiler"/>
            </map>
        </property>
        <!--<property name="filterChainDefinitionMap" ref="linkHashmap"/>-->

        <!-- <property name="filterChainDefinitionMap" ref="filterChainDefinitionMap"></property>-->

        <!--	配置哪些页面需要受保护.
        	以及访问这些页面需要的权限.
        	1). anon 可以被匿名访问
        	2). authc 必须认证(即登录)后才可能访问的页面.
        	3). logout 登出.
        	4). roles 角色过滤器-->
        <property name="filterChainDefinitions">
            <value>
                <!-- /pages/login.jsp = anon
                 /shiro_login = anon
                 /testshiro =anon
                 /pages/date.jsp = authc
                 /logout= logout
                 /pages/regist.jsp=anon
                 /regist=anon

                 /pages/user.jsp = roles[user]
                 /pages/admin.jsp = roles[admin]
-->
                <!--  # everything else requires authentication:-->
                /loginuser=anon
                /kaptcha=anon
                /registerUser=anon
                /isusername=anon
                /logout=logout
                /**=authc
            </value>
        </property><!--被通过实例工厂给属性filterChainDefinitions赋值代替-->
    </bean>

    <!--配置一个 bean, 该 bean 实际上是一个 Map. 通过实例工厂方法的方式-->
    <!-- <bean id="filterChainDefinitionMapBuilder"
           class="com.atguigu.shiro.factory.FilterChainDefinitionMapBuilder"></bean>-->

    <!--<bean id="linkHashmap" class="com.shiro.Shiro_linkHashmap" factory-method="getlinghashmap"></bean>-->



    <!-- <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
     <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
         <property name="securityManager" ref="securityManager"/>
     </bean>-->

    <!--
    <bean id="username_salt" class="ssm.utils.GetSalt" factory-method="getsalt">
        <constructor-arg value=""
    </bean>
    -->
    <bean id="myformAuthentfiler" class="com.Filer.MyFormAuthenticationFiler"/>
    <bean id="myLogoutFiler" class="com.Filer.MyLogoutFiler"/>

    <bean id="rememberMe" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg  value="rememberMe"></constructor-arg>
        <property name="httpOnly" value="true"></property>
        <!--cookie 的最大失效时间 30天-->
        <property name="maxAge" value="259200"></property>
    </bean>


    <!-- Remember me管理器 -->

    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}"></property>
        <property name="cookie" ref="rememberMe"></property>
    </bean>


    <!-- shiro结合Session会话管理器 start -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <!-- session的失效时长，单位毫秒 1小时: 3600000, itzixi站点设置以 6小时 为主：21600000 -->
        <!-- 设置全局会话超时时间，默认30分钟，即如果30分钟内没有访问会话将过期 1800000 -->
        <property name="globalSessionTimeout" value="21600000"/>
        <!-- 删除失效的session -->
        <property name="deleteInvalidSessions" value="true"/>
        <!-- 是否开启会话验证器，默认是开启的 -->
        <property name="sessionValidationSchedulerEnabled" value="true"/>
    </bean>

     <!--整合kaptcha验证码功能-->
    <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.google.code.kaptcha.util.Config">
                <constructor-arg>
                    <props>
                        <prop key="kaptcha.border">no</prop>
                        <prop key="kaptcha.textproducer.font.color">blue</prop>
                        <prop key="kaptcha.image.width">125</prop>
                        <prop key="kaptcha.image.height">45</prop>
                        <prop key="kaptcha.textproducer.font.size">40</prop>
                        <prop key="kaptcha.session.key">code</prop>
                        <prop key="kaptcha.textproducer.char.length">4</prop>
                        <prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop>
                    </props>
                </constructor-arg>
            </bean>
        </property>
    </bean>

</beans>