<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">


    <context:component-scan base-package="com.EnergyProject" >
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!--配置数据源-->
    <context:property-placeholder location="classpath:jdbcforsqlserver.properties"/>
    <bean id="comboPooledDataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${jusername}"/>
        <property name="password" value="${jpassword}"/>
        <property name="maxActive" value="${maxPoolSize}"/>
        <property name="minIdle" value="${minPoolSize}"/>
      <!--  <property name="validationQuery" value="${svalidationQuery}"/>
        <property name="validationQueryTimeout" value="${svalidationQueryTimeout}"/>-->
        <!--<property name="timeBetweenEvictionRunsMillis" value="10"/>
        <property name="minEvictableIdleTimeMillis" value="3"/>-->
        <!--<property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="3"/>
        <property name="logAbandoned" value="true" />-->

    </bean>


    <!-- 配置使用mybatisPlus操作数据库-->

    <bean class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean" id="sqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="dataSource" ref="comboPooledDataSource"/>
        <property name="mapperLocations" value="classpath:com/EnergyProject/dao/*.xml"/>

    </bean>

    <!--<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="dataSource" ref="comboPooledDataSource"/>
        <property name="mapperLocations" value="classpath:com/EnergyProject/dao/*.xml"/>
    </bean>-->
    <!--把每个DAO接口实现类加入到IOC容器-->

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="mapperScannerConfigurer">
        <property name="basePackage" value="com.EnergyProject.dao"/>
    </bean>

    <bean  id="sqlsession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactoryBean" />
        <constructor-arg name="executorType" value="SIMPLE"/>
    </bean>


    <!--配置事务管理器-->
    <bean  class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="dataSourceTransactionManager">
        <constructor-arg name="dataSource"  ref="comboPooledDataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager" proxy-target-class="true"/>
   <!-- <aop:aspectj-autoproxy proxy-target-class="true"/>-->

    <aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true" />
    <!--线程池设置-->
    <bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" id="poolTaskExecutor">
        <property name="corePoolSize" value="8"/>
        <property name="threadNamePrefix" value="task_pool"/>
        <property name="maxPoolSize" value="20"/>



    </bean>

    <!-- 支持 @Async 注解 -->
    <task:annotation-driven executor="poolTaskExecutor"  />


    <import resource="classpath:applicationContext-shiro.xml"/>


</beans>