<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.EnergyProject.dao.ApplyReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.EnergyProject.pojo.ApplyReport">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="equipmentName" property="equipmentName" />
        <result column="workContainer" property="workContainer" />
        <result column="workWaring" property="workWaring" />
        <result column="safety" property="safety" />
        <result column="energyType" property="energyType" />
        <result column="energySource" property="energySource" />
        <result column="energyManagement" property="energyManagement" />
        <result column="workLocation" property="workLocation" />
        <result column="workPerson" property="workPerson" />
        <result column="safetyPerson" property="safetyPerson" />
        <result column="phone" property="phone" />
        <result column="workTimeStart" property="workTimeStart" />
        <result column="workTimeEnd" property="workTimeEnd"/>
        <result column="username" property="username"/>
        <result column="usernameId" property="usernameId"/>
        <result column="usernameDistrict" property="usernameDistrict"/>
        <result column="applyTime" property="applyTime"/>
        <result column="checkTime" property="checkTime"/>
        <result column="rejectText" property="rejectText"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, status, equipmentName, workContainer, workWaring, safety, energyType, energySource, energyManagement, workLocation, workPerson, safetyPerson, phone, workTimeStart,workTimeEnd,username,usernameId,usernameDistrict,applyTime,checkTime,rejectText
    </sql>

    <select id="getAllUsername" resultType="string">
        select distinct username from ApplyReport where username is not null
    </select>

</mapper>
