<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.EnergyProject.dao.Shiro_usernameMapper" >

  <resultMap id="BaseResultMap" type="com.EnergyProject.pojo.Shiro_username">

  </resultMap>

</mapper>